body {
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #333333;
    font-size: 14px;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0px;
}

.nav>li {
    margin-left: 15px;
    margin-right: 15px;
}

.headerNav {
    padding: 3px;
}

.nav>li a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}

.headerA:hover {
    border-bottom: #66C05D solid 2px;
}

.wrapper {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    padding-top: 10px;
    padding-bottom: 7px;
}

.hi {
    padding-right: 33px;
    font-weight: 500;
}

.header {
    background-color: #fff;
    padding-top: 10px;
}

.logo {
    color: #66C05D;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.logoText {
    padding-left: 20px;
    letter-spacing: 4px;
}

.logo-img {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(../Grid/img/logo.svg);
}

.logo:before {
    list-style-image: url(img/logo.svg);
}

.header-info {
    font-size: 16px;
}

.navHeader li {
    margin-left: 25px;
    /* padding-bottom: inherit; */
    margin-right: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    /* transition: 0.5s ease; */
}

.nav {
    transition: 0.5s ease;
}

.navHeaderA:hover {
    border-bottom: #66C05D solid 2px;
    /* transition: 0.5s ease; */
}

.tel {
    text-decoration: none;
    color: #333333;
}

.headerButton {
    font-size: 14px;
    border-radius: 30px;
    background-color: transparent;
    border: #66C05D solid 2px;
    padding: 12px 26px;
    transition: 0.52s ease;
}

.headerButton a {
    text-decoration: none;
    color: #333333;
}

.headerButton:hover {
    background-color: #66C05D;
    transition: 0.52s ease;
    color: #FFFFFF;
    cursor: pointer;
}

.header-buttom.nav {
    font-size: 16px;
    margin: 0px;
}

.header-buttom {
    padding: 15px 0px;
    margin-bottom: 4px;
}

#hr {
    background-color: #EFEFEF;
    border: none;
    height: 1px;
}

.title {
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: -10px;
    padding-top: 50px;
}

.banner {
    background-image: url(../Grid/img/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 200px;
}

.btn {
    color: #FFFFFF;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 50px;
    background-color: transparent;
    font-size: 14px;
    margin-left: 0;
    transition: 0.5s ease;
}

.btn:hover {
    background-color: #fff;
    color: #333333;
}

.banner p {
    margin-bottom: 60px;
    max-width: 315px;
    color: #FFFFFF;
}

.headerP {
    margin-top: 40px;
    line-height: 1.4;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 30px;
}

.titleH2 {
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-top: 80px;
}

.gih2 {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 28px;
}

.giimg {
    grid-column: 4/5;
    margin-top: 70px;
    margin-bottom: -10px;
    justify-content: center;
    text-align: center;
}

.gi01bottom {
    grid-column: 1/3;
    grid-row: 3/4;
}

.gi02bottom {
    grid-column: 3/5;
    grid-row: 3/4;
    align-self: stretch;
}

.bg02 {
    height: 250px;
}

.bgGreen {
    background-color: #66C05D;
}

.bgWhite {
    background-color: #fff;
}

.thumb {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s ease;
}

.imgChair {
    max-width: 125px;
    max-height: 166px;
    margin-bottom: 22px;
    margin-top: 25px;
}

.gridTitle {
    font-size: 14px;
    margin-bottom: 15px;
    letter-spacing: 0.05em;
    line-height: 1.4;
}

.gridPrice {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 13px;
}

.gridButton {
    text-decoration: none;
    border: #66C05D 2px solid;
    border-radius: 40px;
    background-color: #66C05D;
    color: #fff;
    padding: 8px 40px;
    margin-bottom: 25px;
    transition: 0.5s ease;
    font-size: 14px;
}

.gridButton:hover {
    background-color: #fff;
    color: #333;
}

.bgGreen {
    display: flex;
    padding: 35px 45px 35px 40px;
    max-width: 550px;
    max-height: 140px;
    margin-top: 100px;
}

.bgGreen::placeholder {
    color: #C4C4C4;
}

.titleH3 {
    font-size: 18px;
    color: #fff;
    margin-right: 65px;
    font-weight: bold;
}

.titleP {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    padding-top: 8px;
    line-height: 1.5;
    padding-bottom: 12px;
}

.email {
    padding: 8px 0;
    padding-left: 25px;
    padding-right: 43px;
    border-radius: 50px;
    border: #fff solid 2px;
    transition: 1s ease;
}

.email:hover {
    border-color: black;
}

.dopButton {
    color: #FFFFFF;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 26px;
    background-color: transparent;
    font-size: 14px;
    margin-left: 0;
    transition: 0.5s ease;
}

.dopButton:hover {
    background-color: #fff;
    color: #333333;
}

.PLeft {
    padding-bottom: 20px;
}

.footer {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    max-width: 1110px;
    margin: 135px auto 0px auto;
}

.foo {
    margin: 0 auto;
    background-color: #fff;
}

.online {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 65px;
}

.icons {
    padding-right: 20px;
}

.hoverIcons:hover {
    transform: translateY(-10px);
    /* transform: scale(1.1, 1.1); */
}

.hoverIcons {
    transition: 0.5s ease-in;
}

.callback {
    font-size: 14px;
    border-radius: 30px;
    background-color: transparent;
    border: #66C05D solid 2px;
    padding: 12px 26px;
    transition: 0.52s ease;
    margin-left: 36px;
}

.callback:hover {
    background-color: #66C05D;
    transition: 0.52s ease;
    color: #FFFFFF;
    cursor: pointer;
}

.myNumber {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.barLeft {
    color: #828282;
}

.id {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.barRight a {
    text-decoration: none;
    color: #828282;
}

.bar {
    max-width: 1110px;
    margin: 25px auto;
    font-size: 12px;
    line-height: 14px;
}

@media (max-widht: 600px) {
    .wrapper {
        max-width: 600px;
        margin: 0 auto;
        padding: 0px;
    }
}